 body{padding: 0;
  margin: 0;
 font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  margin: 0;
  padding: 0;
  list-style: none; }
h3 {
  margin: 0;
  padding: 0;
  list-style: none; }

h4 {
  margin: 0;
  padding: 0;
  list-style: none; }

h5 {
  margin: 0;
  padding: 0;
  list-style: none; }

h6 {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0;
  padding: 0;
  list-style: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none !important;
  text-decoration: none !important; 
}

input {
  outline: none !important; 
}

button {
  outline: none !important; 
}
img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/*====================*/

/*Start_Header_Section*/
.header_section{
padding-top: 50px;
padding-bottom: 80px;
}
.custom_container{
max-width: 1300px;
  width: 100%;
  margin: auto;
}
.manu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo_area{

}
.logo_area img{

}
.search_button{

}
.search_button input[type=text]{
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 66px;
    background: #F1F1F1;
    padding-right: 180px;
    padding-left: 40px;
    border: aliceblue;
}
.nav_manu{

}
.nav_manu ul{
    display: flex;
}
.nav_manu ul li{
    padding-right: 40px;
}
.nav_manu ul li a{
    color: #707070;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.nav_manu ul li a:hover{
color:#FEEAE9;
}
/*End_Header_Section*/

/*banner_section*/
.banner_section{
padding-bottom: 64px;
}
.custom_container{

}
.banner_full{
display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FEEAE9;
    padding: 38px 46px;
    border-radius: 10px;
}
.banner_left{

}
.banner_contant{
max-width: 560px;
    margin: auto;
    width: 100%;
}
.banner_contant h1{
color: #1F1F1F;
    font-family: Poppins;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 20px;
}
.banner_contant p{
color: #4E4E4E;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 20px;
    max-width: 456px;
    width: 100%;
}
.banner_contant h2{
color: #FF136F;
    font-family: Poppins;
    font-size: 41px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 20px;
}
.banner_button{
border-radius: 6px;
    background: var(--Linear, linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%));
    display: inline-block;
    padding: 14px 20px;
}
.banner_button a{
color: #FFF;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.banner_button a:hover{
color:#1F1F1F ;
}

.banner_button img{
  color: #FFF;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
/*Start_categories_section*/
.categories_section{

}
.custom_container{

}
.categories_full{
padding-bottom: 58px;
}
.categories_heading{

}
.categories_heading h1{
    color: #1F1F1F;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 30px;
    padding-bottom: 24px;
}
.categories_contant{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.single_contant_1{
padding: 15px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(152deg, #FF9C35 1.47%, #FFD019 97.17%);
    max-width: 359px;
    width: 100%;
    border-radius: 10px;
}
.single_contant_1 h1{
color: #FFF;
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.single_contant_1 img{

}

.single_contant_2{
padding: 15px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    max-width: 359px;
    width: 100%;
    border-radius: 10px;

}
.single_contant_2 h1{
color: #FFF;
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.single_contant_2 img{

}
.single_contant_3{
padding: 15px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(170deg, #4289FF -10.89%, #3F07F8 92.77%);
    max-width: 359px;
    width: 100%;
    border-radius: 10px;
}
.single_contant_3 h1{
color: #FFF;
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.single_contant_3 img{

}

